html {
    height: 100%;
}
  
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");


body {
    background-color: #eee;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    background-image:url("images/ales-krivec-QnNqGoCnBg0-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-y: scroll;
    min-height: 100%;
   
     
    }

        ul {
            list-style: none;
            display: flex;
            margin-bottom: 0
        }
        
        .social-icon {
            height: 30px;
            width: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-size: 14px;
            border-radius: 7px;
            margin-right: 11px;
            cursor: pointer
        }
        
        .social-facebook {
            background-color: #3b5999
        }
        
        .social-google {
            background-color: #dd4b39
        }
        
        .social-tripadvisor {
            color: black;
            background-color: rgba(2, 218, 2, 0.842);
        }
        
        .social-icon i {
            transition: 0.4s all
        }
        
        .social-icon:hover i {
            transform: scale(1.1)
        }

    h1 {
        color: white;      
        font-family: 'Enriqueta', serif;
        font-weight: 600;
        font-size: 2rem;
    }

    h1 {
    
        margin-top: 150px;
        margin-right: 600px;
        margin-left: 150px;
        text-align: center;
        justify-content: center;
        width: 100%;
        }
        
    .mybutton {
       color: white;
       margin: auto;
       display: flex;
       justify-content: center;
       margin-top: 50px;
           
    } 

    .mybutton a {
        display: inline-block;
        border-color: white;
        border-style: solid;
        border-radius: 3vh;
        color: white;
        background-color: transparent;
        padding: 15px;
        text-decoration: none;
        text-align: center;
        font-size: 1.5rem;
        
              
        }

    .mybutton a:hover {
        background-color: wheat;
        color: brown;
    }

    footer {
        bottom: 0px;
        position: absolute;
        width:100%;
        height: 2.5rem;
            }

    footer p {
        background-color: white;
        text-align: center;
    }

       
    /*Tablet view*/
    @media only screen and (max-width:768px) {
        .mybutton {
            margin: auto;
            }

        h1 {
            margin-top: 150px;
            margin-left: 100px;
        }
    
    }

    /*Mobile view*/
    @media only screen and (max-width: 500px) {

        .mybutton {
            margin-top: 50px;
        }
        
        h1 {
            margin-top: 100px;
            margin-left: 0px;
        }
    

    }

    

        

    

    